/* 页面整体布局 */
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10rpx;
  background-color: rgb(252, 252, 252);
  box-sizing: border-box;
}

/* banner轮播 */
.banner {
  width: 100%;
  height: 350rpx;
  border-radius: 10rpx;
  margin-bottom: 20rpx;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
}
.banner swiper {
  height: 100%;
  width: 100%;
}
.banner image {
  width: 100%;
  height: 350rpx;
}