/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 200rpx 0;
  box-sizing: border-box;
} 
wx-button::after {
  border: 0 !important;
  box-shadow: none !important;
  content: none !important;
  background: transparent !important;
}
