.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}
.logo {
  width: 150rpx;
  height: 150rpx;
  margin-bottom: 50rpx;
}
.title {
  font-size: 32rpx;
  font-weight: bold;
  margin-bottom: 20rpx;
}
.tips {
  font-size: 26rpx;
  color: #888;
  margin-bottom: 36rpx;
}
.login-btn {
  width: 320rpx;
  height: 80rpx;
  background: #07c160;
  color: #fff;
  font-size: 28rpx;
  border-radius: 40rpx;
  margin-top: 10rpx;
}